html,
body {
	position: relative;
	min-height: 100vh;
}

.container {
	width: 100vw;
	padding: 2rem 1rem;
	margin: 0 auto;
}

ul#secretWord,
ul#letters {
	display: flex;
	flex-wrap: wrap;
}

ul#secretWord {
	justify-content: space-between;
}

ul#letters {
	justify-content: center;
}

@include media-lg {
	.container {
		width: 920px;
	}
}

@include media-xl {
	.container {
		width: 1140px;
	}
}
