html,
body {
	position: relative;
	min-height: 100vh;
}

.container {
	position: relative;
	padding: 2rem 1rem;
	margin: 0 auto;
}

.hide {
	display: none;
}

section#intro-section {
	text-align: center;

	#graphics {
		display: grid;
		grid-template-columns: 1.25fr 0.5fr 1.25fr;

		#player,
		#vs,
		#gallow {
			align-self: center;
		}

		#player {
			@include player($width: 100%);
			justify-self: right;
		}
		#vs {
			font-size: 2rem;
			position: relative;
			#vs-v,
			#vs-s {
				justify-self: center;
				position: absolute;
				top: 50%;
				left: 50%;
			}
			#vs-v {
				transform: translate(-65%, -60%);
			}
			#vs-s {
				transform: translate(10%, -45%);
			}
		}
		#gallow {
			@include gallow($width: 100%);
			justify-self: left;
		}
	}
}

article#intro-article {
	border: 1px solid $cc;
	border-radius: 0.15rem;
	margin: 1rem;
	padding: 1rem;

	ul {
		list-style-type: circle;
		li {
			margin: 0 0 0.75rem 1rem;
			p {
				margin-bottom: 0;
			}
		}
	}
}

#game {
	position: relative;

	#top {
		text-align: right;
		position: relative;

		#current-stage {
			position: absolute;
			z-index: -1;
			top: 0.5rem;
			left: -3rem;

			&[class^="player-stage-"] {
				width: 8rem;
			}
		}
	}

	#time-alerter {
		// pointer-events will make the element act like a "ghost"
		// visible but not selectable. We need this, otherwise the
		// player can't click the letter buttons while count down is showing
		pointer-events: none;
		position: absolute;
		top: 25%;
		left: 50%;
		font-size: 80vw;
		color: $danger;
		font-weight: 700;
		text-shadow: 0.15rem 0.15rem 0.35rem rgba($black, 0.5);
		transform: translate(-50%, -50%) scale(1);
		transform-origin: center;
		opacity: 1;
		animation: timeAlert 1s ease-in forwards;

		@keyframes timeAlert {
			80% {
				opacity: 1;
			}
			100% {
				transform: translate(-50%, -50%) scale(0.1);
				opacity: 0;
			}
		}
	}

	#final-state {
		h2 {
			font-size: 1rem;
			z-index: 1;
			text-align: right;
		}
		p.win {
			border: 1px solid $success;
			border-radius: 0.15rem;
			color: $success;
			padding: 0.5rem 1.25rem;
			display: inline-block;
			margin-left: 50%;
			transform: translateX(-50%) scale(1);
			animation: winAnimation 0.75s forwards;

			@keyframes winAnimation {
				35% {
					transform: translateX(-50%) scale(1.75);
				}
				100% {
					transform: translateX(-50%) scale(1);
				}
			}
		}

		&.show {
			background: rgba($white, 0.5);

			h2 {
				@extend .text-center;
				@extend .pt-2;
				@extend .h2;
			}
		}
	}

	#final-state-graphic {
		&.win,
		&.lose {
			position: absolute;
			z-index: -1;
		}

		&.win {
			top: 2rem;
			left: -4rem;
			@include player(14rem);
		}

		&.lose {
			top: 0;
			left: -6rem;
			width: 18rem;
			@extend .player-stage-12;
			filter: grayscale(0.75) blur(0.075rem);
			opacity: 0.85;
		}
	}
}

footer {
	aside:not(:last-child) {
		border-bottom: 1px solid $cc;
		margin-bottom: 1rem;
	}
}

@include media-md {
	article#intro-article {
		margin: 0 auto;
	}
}

@include media-lg {
	.container {
		width: 920px;
	}

	section#intro-section {
		#graphics {
			#gallow {
				@include gallow($width: 50%);
			}
			#vs {
				font-size: 3rem;
			}
			#player {
				@include player($width: 50%);
			}
		}
	}

	article#intro-article {
		div.container {
			margin: 0 auto 2rem auto;
			padding: 2rem;
		}
	}

	#game {
		#time-alerter {
			top: 50%;
		}

		#final-state-graphic {
			&.win {
				top: 1rem;
				left: -1rem;
				@include player(17rem);
			}
			&.lose {
				top: 0;
				left: 3rem;
				width: 16rem;
			}
		}
	}
}

@include media-xl {
	.container {
		width: 1140px;
	}
}
