html,
body {
	position: relative;
	min-height: 100vh;
}

.container {
	padding: 2rem 1rem;
	margin: 0 auto;
}

.hide {
	display: none;
}

section#intro-section {
	text-align: center;

	#graphics {
		display: grid;
		grid-template-columns: 1.25fr 0.5fr 1.25fr;

		#executioner,
		#vs,
		#player {
			align-self: center;
		}

		#executioner {
			@include executioner($width: 100%);
			justify-self: right;
		}
		#vs {
			font-size: 2rem;
			position: relative;
			#vs-v,
			#vs-s {
				justify-self: center;
				position: absolute;
				top: 50%;
				left: 50%;
			}
			#vs-v {
				transform: translate(-65%, -60%);
			}
			#vs-s {
				transform: translate(10%, -45%);
			}
		}
		#player {
			@include player($width: 100%);
			justify-self: left;
		}
	}
}

article#intro-article {
	border: 1px solid $cc;
	border-radius: 0.15rem;
	margin: 1rem;
	padding: 1rem;

	ul {
		list-style-type: circle;
		li {
			margin: 0 0 0.75rem 1rem;
			p {
				margin-bottom: 0;
			}
		}
	}
}

#game {
	#top {
		text-align: right;
		position: relative;

		#current-stage {
			position: absolute;
			z-index: -1;
			top: 0;

			&[class^="player-stage-"] {
				width: 8rem;
			}
		}
	}

	h2 {
		font-size: 1rem;
		background: rgba($white, 0.5);
		z-index: 1;
	}

	p.win {
		border: 1px solid $success;
		border-radius: 0.15rem;
		color: $success;
		padding: 0.5rem 1.25rem;
		display: inline-block;
		margin-left: 50%;
		transform: translateX(-50%) scale(1);
		animation: winAnimation 0.75s forwards;

		@keyframes winAnimation {
			35% {
				transform: translateX(-50%) scale(1.75);
			}
			100% {
				transform: translateX(-50%) scale(1);
			}
		}
	}
}

footer {
	p:last-child {
		border-top: 1px solid $cc;
		padding-top: 1rem;
	}
}

@include media-md {
	article#intro-article {
		margin: 0 auto;
	}
}

@include media-lg {
	.container {
		width: 920px;
	}

	section#intro-section {
		#graphics {
			#executioner {
				@include executioner($width: 50%);
			}
			#vs {
				font-size: 3rem;
			}
			#player {
				@include player($width: 50%);
			}
		}
	}

	article#intro-article {
		div.container {
			margin: 0 auto 2rem auto;
			padding: 2rem;
		}
	}
}

@include media-xl {
	.container {
		width: 1140px;
	}
}
